@use "sass"as *;
@use "sass:map";
$bodyBg: #1d2a35;

$config: (a: (b: (c: d)));

/********************************

#{map.get($config, a, b, c)}; //

*/

body {
  background-color: $bodyBg;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
  & #pushHere {
    max-width: 100%;

    & .list-group-item {
      background-color: rgb(21 32 43);
      color: white;
    }
  }
}
